<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OfflineOrderManager.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/sasho.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/sasho.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="topnav">
        <div style="padding-left:75px">
            <a asp-page="/Index">Табло</a>
            <a asp-page="/Orders/All">Всички поръчки</a>
            <a asp-page="/Orders/Waitings">Чакащи</a>
            <a asp-page="/Orders/Stated">Заявени</a>
            <a asp-page="/Orders/Completed">Подготвени</a>
            <a asp-page="/Orders/ForPrint">За принтиране</a>
            @if (Model.HttpContext.User.Identity.IsAuthenticated)
            {
    <a asp-page="/Orders/My">Моите поръчки</a>}
            <a asp-page="/Orders/Add">Добави поръчка</a>
            @if (Model.HttpContext.User.Identity.IsAuthenticated)
            {
    <li><a asp-page="/Login" asp-page-handler="Logout">Изход</a></li> }
                else
                {
    <a asp-page="/Register">Регистрация</a>
                    <a asp-page="/Login">Вход</a>}
        </div>
    </div>
    </div>

    <div class="container body-content" style="width:90%">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - BESTAUTO Склад</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
